# OS X .gitignore
.DS_Store
.AppleDouble
.LSOverride

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/languages/*
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules
npm-debug.log

# Vagrant
bin
.vagrant
vagrant-ssh-config
vm

# Sensitive files
*.sql

# Local configuration
Makefile.config
config/Vagrantfile.local
# @todo waiting for Drupal VM 3.1.0
# config/local.config.yml
